In [3]:
import io
import fitz
import re
from PIL import Image, ImageDraw, ImageFont, ImageColor
import operator
import pandas as pd 
import numpy as np
from datetime import datetime
import math
from tqdm import tqdm

# Ploting funcs

In [4]:
def plot_genus_blocks(page_df, draw, color = '#6c899e', w = 3):
    try:
        genus_list = page_df['draw_genus'].unique()
    except:
        print("no GENUS found")
        return 

    for g in genus_list:
        temp_df = page_df[(page_df['draw_genus'] == g)]
        g_x0 = temp_df['x0'].min()
        g_y0 = temp_df['y0'].min()
        g_x1 = temp_df['x1'].max()
        g_y1 = temp_df['y1'].max()

        draw.rectangle((g_x0, g_y0, g_x1, g_y1), fill=None, outline=ImageColor.getrgb(color), width = w)
        
def plot_epithet_blocks(page_df, draw, color = '#660066', w = 3):
    try:
        epithet_list = page_df['draw_epithet'].unique()
    except:
        print("no EPITHET found")
        return 
    
    for e in epithet_list:
        temp_df = page_df[(page_df['draw_epithet'] == e)]
        e_x0 = temp_df['x0'].min()
        e_y0 = temp_df['y0'].min()
        e_x1 = temp_df['x1'].max()
        e_y1 = temp_df['y1'].max()

        draw.rectangle((e_x0, e_y0, e_x1, e_y1), fill=None, outline=ImageColor.getrgb(color), width = w)

def plot_author_blocks(page_df, draw, color = '#a3a3a3', w = 1):
    try:
        author_list = page_df['draw_author'].unique()
    except:
        print("no AUTHOR found")
        return 

    for a in author_list:
        temp_df = page_df[(page_df['draw_author'] == a)]
        e_x0 = temp_df['x0'].min()
        e_y0 = temp_df['y0'].min()
        e_x1 = temp_df['x1'].max()
        e_y1 = temp_df['y1'].max()

        draw.rectangle((e_x0, e_y0, e_x1, e_y1), fill=None, outline=ImageColor.getrgb(color), width = w)

def plot_infra_blocks(page_df, draw, color = '#ff6289', w = 1):
    try:
        infra_list = page_df['draw_infra'].unique()
    except:
        print("no INFRA Spp. found")
        return 

    for infra_spp in infra_list:
        temp_df = page_df[(page_df['draw_infra'] == infra_spp)]
        e_x0 = temp_df['x0'].min()
        e_y0 = temp_df['y0'].min()
        e_x1 = temp_df['x1'].max()
        e_y1 = temp_df['y1'].max()

        draw.rectangle((e_x0, e_y0, e_x1, e_y1), fill=None, outline=ImageColor.getrgb(color), width = w)

# Import Vol3 Index

In [5]:
#pdf_dir = "../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 3.pdf"
pdf_dir = "../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 1.pdf"
index = range(616, 639)
doc = fitz.open(pdf_dir)
pages = [doc[i] for i in range(doc.pageCount)]
#index = list(range(555, 583))

pdf_dir = "../input/NOUVELLE FLORE DU LIBAN ET DE LA SYRIE 1.pdf"
index = range(616, 639)

TARGET_DPI = 300
mat = fitz.Matrix(TARGET_DPI/ 72, TARGET_DPI/ 72)

indent_groups = []
indent_err = 15

# regex based boolean functions

In [6]:
def valid(word):
    """
    valid words are words that are:
    - at least 2 characters
        - unless it's x (symbol for hybrid)
    """
    return (not bool(re.search(r"[0-9]+[,.]?", word))) and (len(word) > 1 or word == 'x' or word == 'X' or word == '×' or word == r'\u00D7')
    
def is_genus(word):
    """
    A word in the index might be a genus if it satisfies the following properties:
    - letters: french alphabet + at most one hyphen (which is not first or last letter)
        - first letter upper case
        - all but first lowecase 
    in regex: ^[A-ZÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]{1}[a-zàâäèéêëîïôœùûüÿç]*[-]?[a-zàâäèéêëîïôœùûüÿç]+$ #ignoring strict beggining and end cause of noise
        * based on the current expression it'd also be at least 2 letters long
    """
    regex = r"[A-ZÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ\u00D7]{1}[a-zàâäèéêëîïôœùûüÿç]*[-]?[a-zàâäèéêëîïôœùûüÿç]+"
    return re.search(regex, word)
    

def is_epithet(word):
    """
    A word in the index might be an epithet if it satisfies the following properties:
    - letters: french alphabet + at most one hyphen (which is not first or last letter)
        - all letters lowecase 
    in regex: ^[a-zàâäèéêëîïôœùûüÿç]+[-]?[a-zàâäèéêëîïôœùûüÿç]+$ #ignoring strict beggining and end cause of noise 
        * based on the current expression it'd also be at least 2 letters long
    """
    regex = r"[a-zàâäèéêëîïôœùûüÿç\u00D7]+[-]?[a-zàâäèéêëîïôœùûüÿç]+"
    return re.search(regex, word)
    
def is_hybrid(word):
    regex = r"^(([Xx\u00D7])|([Xx\u00D7]\.))$"
    return re.search(regex, word)

def is_infra(word):
    regex = r"^(var\.)|(subsp\.)"
    return re.search(regex, word)

# pre-processing func

In [7]:
def preprocessing(page_num, indent_err = 15):
    
    #initiate dataframe
    page_df = pd.DataFrame(pages[page_num].get_text_words(), columns =['in_x0', 'in_y0', 'in_x1', 'in_y1', 'word', 'block_no', 'line_no', 'word_no'])
    
    #add page number to dataframe
    page_df['page_num'] = np.array([page_num]*page_df.shape[0])
    #initiate all columns that will be added
    page_df['genus'] = np.array([np.NaN]*page_df.shape[0])
    page_df['draw_genus'] = np.array([np.NaN]*page_df.shape[0])
    page_df['epithet'] = np.array([np.NaN]*page_df.shape[0])
    page_df['draw_epithet'] = np.array([np.NaN]*page_df.shape[0])
    page_df['author'] = np.array([np.NaN]*page_df.shape[0])
    page_df['draw_author'] = np.array([np.NaN]*page_df.shape[0])
    page_df['infra'] = np.array([np.NaN]*page_df.shape[0])
    page_df['draw_infra'] = np.array([np.NaN]*page_df.shape[0])
    page_df['taxon rank'] = np.array([np.NaN]*page_df.shape[0])
    page_df['error_check'] = np.array([np.NaN]*page_df.shape[0])
    #updating coordinates to represent target DPI
    page_df['x0'], page_df['y0'], page_df['x1'], page_df['y1'] = page_df['in_x0']*TARGET_DPI/ 72, page_df['in_y0']*TARGET_DPI/ 72, page_df['in_x1']*TARGET_DPI/ 72, page_df['in_y1']*TARGET_DPI/ 72
    #get x corner coordinates 
    x_min = page_df['x0'].min()
    x_max = page_df['x1'].max()

    #invalid words dataframe -- for error checking
    pruned_words_df = page_df[~page_df["word"].apply(valid)].reset_index()
    #prune out invalid words (based on function valid)
    page_df = page_df[page_df["word"].apply(valid)].reset_index()
    
    indent_groups = []
    blocks = page_df['block_no'].unique()
    for b in blocks:
        lines = page_df[page_df['block_no'] == b]['line_no'].unique()
        for l in lines:
            #reset word_no values (useful for cases where word that was originally at 0th index was pruned out)
            cond = (page_df['line_no'] == l) & (page_df['block_no'] == b)
            num_words = len(page_df[cond]['word_no'])
            page_df.loc[cond, 'word_no'] = np.arange(num_words).astype(int) #this is slowww
            #set column number (0 or 1)
            x_0 = page_df[cond]['x0'].min()
            #THIS DOESN'T WORK AAAA -- issue was with line no thing
            if not np.isnan(x_0):
                page_df.loc[cond, 'col_no'] = np.array([int(x_0 > ((x_min + x_max) / 2))]*num_words).astype(int)

                #initiate indent groups -- only first word should get an indent_group value 
                new_group = True
                for g_i in range(len(indent_groups)):
                    g = indent_groups[g_i]
                    g_arr = np.array(g)
                    if x_0 <= np.mean(g_arr) + indent_err and x_0 >= np.mean(g_arr) - indent_err:
                        g.append(x_0)
                        new_group = False
                        page_df.loc[cond, 'indent_group'] = np.array([g_i]*num_words).astype(int)
                if new_group:
                    indent_groups.append([x_0])
                    g_i = len(indent_groups) - 1
                    page_df.loc[cond, 'indent_group'] = np.array([g_i]*num_words).astype(int)


    #return updated page_df, pruned_words_df, indent groups
    return page_df.reset_index(), pruned_words_df, indent_groups

#https://stackoverflow.com/questions/53468558/adding-image-to-pandas-dataframe

In [8]:
genus = np.NaN
df_dict = {}
pruned_dict = {}

for page_num in tqdm(index):
    page_df, pruned_df, indent_group = preprocessing(page_num)
    df_dict[page_num] = page_df
    pruned_dict[page_num] = pruned_df

100%|██████████| 23/23 [00:08<00:00,  2.77it/s]

# Finding indentations associated with genus, epithet, infra

In [9]:
types = ['genus', 'epithet', 'infra', 'author', 'misc.']
def n_leftmost_indent(df, n):
    """return a tuple with at most 3 elements each element itself is a tuple containing indent group, mean, group len"""
    indent_groups = [(g, df[(df['indent_group'] == g) & (df['word_no'] == 0)]['x0'].mean(), len(df[(df['indent_group'] == g) & (df['word_no'] == 0)]['x0'])) for g in df['indent_group'].unique()]
    indent_groups.sort(key = lambda x : x[1])
    return indent_groups[:n]

In [10]:
def get_genusEpithetInfra_indent(col_df):
    leftmost_3_indents = n_leftmost_indent(col_df, 3) 
    min_gap = 0
    max_gap = 75

    # possibly not specific enough
    # first identifying indent based don distance from one another only
    if len(leftmost_3_indents) == 3:
        if leftmost_3_indents[0][1] < max_gap:
            leftmost_3_indents = leftmost_3_indents[1:]
        elif ((leftmost_3_indents[1][1] - leftmost_3_indents[0][1]) > max_gap or \
            (leftmost_3_indents[1][1] - leftmost_3_indents[0][1]) < min_gap): #comparing first two (if satisfied last two will be checked in next if block)
            leftmost_3_indents = [max(leftmost_3_indents[1:], key = lambda x : x[2])] + [leftmost_3_indents[2]]
        elif (leftmost_3_indents[2][1] - leftmost_3_indents[1][1]) > max_gap or \
            (leftmost_3_indents[2][1] - leftmost_3_indents[1][1]) < min_gap: #comparing last two
            leftmost_3_indents = [leftmost_3_indents[0]] + [max(leftmost_3_indents[1:], key = lambda x : x[2])]

    if len(leftmost_3_indents) == 2:
        if leftmost_3_indents[0][1] < max_gap:
            leftmost_3_indents = leftmost_3_indents[1]
        elif (leftmost_3_indents[1][1] - leftmost_3_indents[0][1]) > max_gap or (leftmost_3_indents[1][1] - leftmost_3_indents[0][1]) < min_gap:
            leftmost_3_indents = [max(leftmost_3_indents, key = lambda x : x[2])]

    has_genus, has_epithet, has_infra = False, False, False
    genus_indent, epithet_indent, infra_indent = -1, -1, -1
    if len(leftmost_3_indents) == 3:
        has_genus, has_epithet, has_infra = True, True, True
        genus_indent, epithet_indent, infra_indent = [el[0] for el in leftmost_3_indents]
    elif len(leftmost_3_indents) == 2:
        if col_df[col_df['indent_group'] == leftmost_3_indents[1][0]]['word'].apply(is_infra).any():
            has_genus, has_epithet, has_infra = False, True, True
            epithet_indent, infra_indent = [el[0] for el in leftmost_3_indents]
        else:
            has_genus, has_epithet, has_infra = True, True, False
            genus_indent, epithet_indent = [el[0] for el in leftmost_3_indents]
    elif len(leftmost_3_indents) == 2: 
        has_genus, has_epithet, has_infra = False, True, False
        epithet_indent = leftmost_3_indents[0][0]

    return genus_indent, epithet_indent, infra_indent, leftmost_3_indents

# Processing column dataframes

In [18]:
def process_col(col_df, genus, epithet, draw_genus, draw_epithet, draw_infra = np.NaN):
    genus_indent, epithet_indent, infra_indent, indent_3_left = get_genusEpithetInfra_indent(col_df)
    print(genus_indent, epithet_indent, infra_indent)
    blocks = col_df['block_no'].unique()
    start_word_cond = -1 
    author = ''
    #draw_infra = np.NaN
    
    for b in blocks:
        lines = col_df[col_df['block_no'] == b]['line_no'].unique()
        for l in lines:
            cond = (col_df['line_no'] == l) & (col_df['block_no'] == b)
            words = col_df[cond]['word_no'].unique()
            process_hybrid = False
            process_infra = False
            
            col_df = col_df.copy()
            for w in words:
                word_cond = (col_df['line_no'] == l) & (col_df['block_no'] == b) & (col_df['word_no'] == w) 
                word = col_df[word_cond]['word'].item()
                #print(word)
            
                if w == 0:
                    infra = ''
                    if author != '':
                        col_df.loc[start_word_cond, 'author'] = author
                        author = ''
                    
                    start_word_cond = word_cond
                    start_l = l 
                    start_b = b 

                    indent_group = col_df[word_cond]['indent_group'].item()
                    
                    if is_hybrid(word):
                        process_hybrid = True
                        misc = word
                        author = ''
                        #col_df.loc[start_word_cond, 'misc.'] = misc
                    #now only gotta say INDENT AND satisfies these paterns
                    #print(indent_group, genus_indent)
                    else: 
                        if indent_group == genus_indent:
                            if not ''.join(e for e in word if e.isalpha()).isupper():
                                genus = word
                                misc = ''
                                author = ''
                                infra = ''
                                epithet = ''
                                draw_genus = genus
                                col_df.loc[start_word_cond, 'genus'] = genus
                                col_df.loc[start_word_cond, 'taxon rank'] = 'genus'
                                if not is_genus(word):
                                    col_df.loc[start_word_cond, 'error_check'] = True
                                col_df.loc[word_cond, 'draw_genus'] = draw_genus
                                
                            else: 
                                genus = ''
                                misc = ''
                                author = ''
                                infra = ''
                                epithet = ''
                                draw_genus = np.NaN
                        elif indent_group == epithet_indent and not ''.join(e for e in word if e.isalpha()).isupper():
                            epithet = word
                            misc = ''
                            infra = ''
                            author = ''
                            col_df.loc[start_word_cond, 'genus'] = genus
                            col_df.loc[start_word_cond, 'epithet'] = epithet
                            col_df.loc[start_word_cond, 'taxon rank'] = 'species'
                            if not is_epithet(word):
                                col_df.loc[start_word_cond, 'error_check'] = True
                            draw_epithet = str(genus) + '_' + str(epithet) +'_' + str(start_b) + '_' + str(start_l)
                            col_df.loc[word_cond, 'draw_genus'] = draw_genus
                            col_df.loc[word_cond, 'draw_epithet'] = draw_epithet
                        

                        elif indent_group == infra_indent:
                            process_infra = True
                            misc = word
                            author = ''
                            #col_df.loc[start_word_cond, 'misc.'] = misc
                            if not (is_infra(word) or is_hybrid(word)):
                                col_df.loc[start_word_cond, 'error_check'] = True
                    
                elif process_infra:
                    start_word_cond = word_cond
                    start_l = l 
                    start_b = b 
                    infra = word 
                    col_df.loc[start_word_cond, 'genus'] = genus
                    col_df.loc[start_word_cond, 'epithet'] = epithet
                    col_df.loc[start_word_cond, 'infra'] = infra
                    #col_df.loc[start_word_cond, 'misc.'] = misc
                    col_df.loc[start_word_cond, 'taxon rank'] = misc
                    draw_infra = str(infra) + '_'+str(start_b)+'_'+str(start_l)
                    process_infra = False
                    col_df.loc[word_cond, 'draw_genus'] = draw_genus
                    col_df.loc[word_cond, 'draw_epithet'] = draw_epithet
                    col_df.loc[word_cond, 'draw_infra'] = draw_infra
                    
                elif process_hybrid:
                    start_word_cond = word_cond
                    start_l = l 
                    start_b = b 
                    if indent_group == genus_indent:
                        genus = word
                        epithet = ''
                        infra = ''
                        author = ''
                        draw_genus = genus
                        col_df.loc[start_word_cond, 'genus'] = genus
                        col_df.loc[start_word_cond, 'taxon rank'] = 'genus - hybrid'
                        if not is_genus(word):
                            col_df.loc[start_word_cond, 'error_check'] = True
                        col_df.loc[word_cond, 'draw_genus'] = draw_genus
                            
                    elif indent_group == epithet_indent:
                        epithet = word
                        author = ''
                        infra = ''
                        col_df.loc[start_word_cond, 'genus'] = genus
                        col_df.loc[start_word_cond, 'epithet'] = epithet
                        col_df.loc[start_word_cond, 'taxon rank'] = 'species - hybrid'
                        draw_epithet = str(genus) + '_' + str(epithet) +'_' + str(start_b) + '_' + str(start_l)
                        if not is_epithet(word):
                            col_df.loc[start_word_cond, 'error_check'] = True
                        col_df.loc[word_cond, 'draw_genus'] = draw_genus
                        col_df.loc[word_cond, 'draw_epithet'] = draw_epithet
                    elif indent_group == infra_indent:
                        infra = word
                        col_df.loc[start_word_cond, 'genus'] = genus
                        col_df.loc[start_word_cond, 'epithet'] = epithet
                        col_df.loc[start_word_cond, 'infra'] = infra
                        col_df.loc[start_word_cond, 'taxon rank'] = 'hybrid'
                        col_df.loc[word_cond, 'draw_genus'] = draw_genus
                        col_df.loc[word_cond, 'draw_epithet'] = draw_epithet
                        col_df.loc[word_cond, 'draw_infra'] = draw_infra
                    #col_df.loc[start_word_cond, 'misc.'] = 'x'
                    process_hybrid = False
                else:
                    author = author + word + ' '
                    col_df.loc[word_cond, 'draw_author'] = 'author_'+str(start_b)+'_'+str(start_l)
                    #col_df.loc[word_cond, 'draw_genus'] = draw_genus
                    #if epithet:
                    #    col_df.loc[word_cond, 'draw_epithet'] = draw_epithet
                    #if infra: 
                    #    col_df.loc[word_cond, 'draw_infra'] = draw_infra

    #Last author
    if author != '':
        col_df.loc[start_word_cond, 'author'] = author
    
    return col_df, genus, epithet, draw_genus, draw_epithet

# the Results

In [19]:
genus = np.NaN
epithet = np.NaN
draw_genus = np.NaN
draw_epithet = np.NaN
result_ims = []
df_list = []

for page_num in tqdm(index):
    #process the pre-processed dfs
    page_df = df_dict[page_num]
    
    #for drawing
    pix_map = doc.get_page_pixmap(page_num,matrix=mat)
    image = Image.open(io.BytesIO(pix_map.tobytes()))
    draw = ImageDraw.Draw(image)

    #processing each column
    for c in page_df['col_no'].unique():
        col_df = page_df[page_df['col_no'] == c]
        col_df, genus, epithet, draw_genus, draw_epithet = process_col(col_df, genus, epithet, draw_genus, draw_epithet)
        df_list.append(col_df)

        #drawing boxes in each column
        plot_genus_blocks(col_df, draw)
        plot_epithet_blocks(col_df, draw)
        plot_author_blocks(col_df, draw)
        plot_infra_blocks(col_df, draw)

    result_ims.append(image)

TIME_STR = datetime.now().strftime("%Y_%m_%d-%I_%M_%p")
result_ims[0].save('../output/index/PDF/vol1_index_reverted_ROI'+TIME_STR+'.pdf',save_all=True, append_images=result_ims[1:])

pre_processed_df = pd.concat([df_dict[k] for k in df_dict], axis = 0)
df = pd.concat(df_list, axis = 0)
df.to_html('../output/index/html/vol1_index_reverted'+TIME_STR+'.html')
pre_processed_df.to_html('../output/index/html/vol1_preprocessed_index'+TIME_STR+'.html')
df.to_csv('../output/index/CSV/vol1_index_reverted'+TIME_STR+'.csv', index = False)

pruned = df[(~df['genus'].isnull())]
pruned = pruned[["page_num", "genus", "epithet", "infra" ,"author", "taxon rank"]]
pruned.to_csv('../output/index/CSV/vol1_index_reverted_pruned'+TIME_STR+'.csv', index = False)
pruned.to_html('../output/index/html/vol1_index_reverted_pruned'+TIME_STR+'.html')

  0%|          | 0/23 [00:00<?, ?it/s]

2.0 1.0 -1
3.0 4.0 -1

  4%|▍         | 1/23 [00:01<00:33,  1.51s/it]

2.0 1.0 -1
7.0 6.0 -1

  9%|▊         | 2/23 [00:03<00:33,  1.60s/it]

1.0 2.0 -1
5.0 4.0 -1

 13%|█▎        | 3/23 [00:04<00:29,  1.47s/it]

2.0 1.0 -1
3.0 4.0 -1

 17%|█▋        | 4/23 [00:05<00:25,  1.34s/it]

2.0 1.0 -1
5.0 4.0 -1

 22%|██▏       | 5/23 [00:06<00:22,  1.25s/it]

2.0 1.0 -1
4.0 5.0 3.0

 26%|██▌       | 6/23 [00:07<00:20,  1.19s/it]

2.0 1.0 -1
4.0 3.0 -1

 30%|███       | 7/23 [00:08<00:19,  1.19s/it]

2.0 1.0 -1
3.0 4.0 -1

 35%|███▍      | 8/23 [00:10<00:17,  1.16s/it]

2.0 1.0 -1
4.0 3.0 -1

 39%|███▉      | 9/23 [00:11<00:16,  1.15s/it]

2.0 1.0 -1
3.0 4.0 -1

 43%|████▎     | 10/23 [00:12<00:14,  1.14s/it]

2.0 1.0 -1
3.0 4.0 -1

 48%|████▊     | 11/23 [00:13<00:13,  1.14s/it]

2.0 1.0 -1
5.0 4.0 -1

 52%|█████▏    | 12/23 [00:14<00:12,  1.11s/it]

2.0 1.0 -1
4.0 5.0 6.0

 57%|█████▋    | 13/23 [00:15<00:10,  1.08s/it]

2.0 1.0 -1
8.0 7.0 -1

 61%|██████    | 14/23 [00:16<00:09,  1.11s/it]

2.0 1.0 -1
5.0 4.0 -1

 65%|██████▌   | 15/23 [00:17<00:08,  1.11s/it]

1.0 2.0 -1
6.0 5.0 -1

 70%|██████▉   | 16/23 [00:18<00:07,  1.10s/it]

2.0 1.0 -1
5.0 4.0 -1

 74%|███████▍  | 17/23 [00:19<00:06,  1.10s/it]

2.0 1.0 3.0
4.0 5.0 -1

 78%|███████▊  | 18/23 [00:21<00:05,  1.09s/it]

1.0 2.0 -1
4.0 3.0 -1

 83%|████████▎ | 19/23 [00:22<00:04,  1.08s/it]

2.0 1.0 -1
-1 -1 -1

 87%|████████▋ | 20/23 [00:23<00:03,  1.06s/it]

2.0 1.0 3.0
5.0 4.0 -1

 91%|█████████▏| 21/23 [00:24<00:02,  1.07s/it]

1.0 2.0 -1

 96%|█████████▌| 22/23 [00:25<00:01,  1.06s/it]

5.0 6.0 4.0

100%|██████████| 23/23 [00:25<00:00,  1.11s/it]

-1 -1 -1
3.0 4.0 -1

In [15]:
df_list[-1]
df_dict[index[-1]]

,level_0,index,in_x0,in_y0,in_x1,in_y1,word,block_no,line_no,word_no,...,infra,draw_infra,taxon rank,error_check,x0,y0,x1,y1,col_no,indent_group
0,0,0,166.800003,26.650024,212.206879,35.650024,NOUVELLE,0,0,0,...,NaN,NaN,NaN,NaN,695.000013,111.041768,884.195328,148.541768,0.0,0.0
1,1,1,217.920502,26.650024,245.396683,35.650024,FLORE,0,0,1,...,NaN,NaN,NaN,NaN,908.002090,111.041768,1022.486178,148.541768,0.0,0.0
2,2,3,14.400000,51.369995,40.296627,60.369995,Vulpia,1,0,0,...,NaN,NaN,NaN,NaN,59.999998,214.041646,167.902613,251.541646,0.0,1.0
3,3,4,28.080000,60.010010,49.904320,69.010010,brevis,2,0,0,...,NaN,NaN,NaN,NaN,117.000000,250.041707,207.934666,287.541707,0.0,2.0
4,4,5,51.402988,60.010010,72.949081,69.010010,Boiss.,2,0,1,...,NaN,NaN,NaN,NaN,214.179118,250.041707,303.954506,287.541707,0.0,2.0
5,5,6,28.080000,69.369995,66.079445,78.369995,bromoides,2,1,0,...,NaN,NaN,NaN,NaN,117.000000,289.041646,275.331020,326.541646,0.0,2.0
6,6,7,67.578300,69.369995,81.732071,78.369995,(L.),2,1,1,...,NaN,NaN,NaN,NaN,281.576252,289.041646,340.550296,326.541646,0.0,2.0
7,7,8,83.232300,69.369995,102.350998,78.369995,Gray,2,1,2,...,NaN,NaN,NaN,NaN,346.801249,289.041646,426.462491,326.541646,0.0,2.0
8,8,9,27.840000,79.419983,51.065872,89.419983,ciliata,2,2,0,...,NaN,NaN,NaN,NaN,116.000001,330.916595,212.774467,372.583262,0.0,2.0
9,9,10,54.894718,79.419983,78.931999,89.419983,(Pers.),2,2,1,...,NaN,NaN,NaN,NaN,228.727992,330.916595,328.883330,372.583262,0.0,2.0
10,10,11,82.983994,79.419983,100.981194,89.419983,Link,2,2,2,...,NaN,NaN,NaN,NaN,345.766640,330.916595,420.754973,372.583262,0.0,2.0
11,11,12,27.840000,88.539978,70.490784,98.539978,dertonensis,2,3,0,...,NaN,NaN,NaN,NaN,116.000001,368.916575,293.711599,410.583242,0.0,2.0
12,12,13,74.087845,88.539978,94.085922,98.539978,(All.),2,3,1,...,NaN,NaN,NaN,NaN,308.699354,368.916575,392.024676,410.583242,0.0,2.0
13,13,14,97.684853,88.539978,116.418274,98.539978,Gola,2,3,2,...,NaN,NaN,NaN,NaN,407.020219,368.916575,485.076141,410.583242,0.0,2.0
14,14,15,27.600000,97.659973,69.871605,107.659973,hirtiglumis,2,4,0,...,NaN,NaN,NaN,NaN,115.000002,406.916555,291.131687,448.583221,0.0,2.0
15,15,16,71.818321,97.659973,93.583466,107.659973,Boiss.,2,4,1,...,NaN,NaN,NaN,NaN,299.243005,406.916555,389.931107,448.583221,0.0,2.0
16,16,17,27.840000,108.219971,48.376163,118.219971,inops,2,5,0,...,NaN,NaN,NaN,NaN,116.000001,450.916545,201.567348,492.583211,0.0,2.0
17,17,18,51.862350,108.219971,73.518677,118.219971,(Del.),2,5,1,...,NaN,NaN,NaN,NaN,216.093127,450.916545,306.327820,492.583211,0.0,2.0
18,18,19,77.441971,108.219971,100.303047,118.219971,Hack.,2,5,2,...,NaN,NaN,NaN,NaN,322.674878,450.916545,417.929363,492.583211,0.0,2.0
19,19,20,28.080000,117.820007,82.238480,127.820007,membranacea,2,6,0,...,NaN,NaN,NaN,NaN,117.000000,490.916697,342.660332,532.583364,0.0,2.0
20,20,21,85.732719,117.820007,100.152145,127.820007,(L.),2,6,1,...,NaN,NaN,NaN,NaN,357.219664,490.916697,417.300606,532.583364,0.0,2.0
21,21,22,103.862617,117.820007,121.859795,127.820007,Link,2,6,2,...,NaN,NaN,NaN,NaN,432.760906,490.916697,507.749144,532.583364,0.0,2.0
22,22,23,27.840000,126.940002,56.531601,136.940002,myuros,2,7,0,...,NaN,NaN,NaN,NaN,116.000001,528.916677,235.548337,570.583344,0.0,2.0
23,23,24,59.750469,126.940002,73.991699,136.940002,(L.),2,7,1,...,NaN,NaN,NaN,NaN,248.960288,528.916677,308.298747,570.583344,0.0,2.0
24,24,25,77.615021,126.940002,86.512146,136.940002,C.,2,7,2,...,NaN,NaN,NaN,NaN,323.395920,528.916677,360.467275,570.583344,0.0,2.0
25,25,26,89.732620,126.940002,98.629745,136.940002,C.,2,7,3,...,NaN,NaN,NaN,NaN,373.885918,528.916677,410.957273,570.583344,0.0,2.0
26,26,27,101.849510,126.940002,125.744499,136.940002,Gmel.,2,7,4,...,NaN,NaN,NaN,NaN,424.372959,528.916677,523.935413,570.583344,0.0,2.0
27,27,28,27.120001,136.540009,53.026104,146.540009,patens,2,8,0,...,NaN,NaN,NaN,NaN,113.000003,568.916702,220.942100,610.583369,0.0,2.0
28,28,29,54.691288,136.540009,76.503273,146.540009,Boiss.,2,8,1,...,NaN,NaN,NaN,NaN,227.880367,568.916702,318.763638,610.583369,0.0,2.0
29,29,30,27.120001,146.679993,58.356476,154.679993,pectinella,2,9,0,...,NaN,NaN,NaN,NaN,113.000003,611.166636,243.151983,644.499969,0.0,2.0
30,30,31,63.040367,146.679993,78.562386,154.679993,Del.,2,9,1,...,NaN,NaN,NaN,NaN,262.668196,611.166636,327.343273,644.499969,0.0,2.0
31,31,32,28.080000,155.739990,69.068268,165.739990,sciuroides,2,10,0,...,NaN,NaN,NaN,NaN,117.000000,648.916626,287.784449,690.583293,0.0,2.0
32,32,33,70.733658,155.739990,95.952850,165.739990,(Roth),2,10,1,...,NaN,NaN,NaN,NaN,294.723574,648.916626,399.803543,690.583293,0.0,2.0
33,33,34,97.619751,155.739990,121.659401,165.739990,Gmel.,2,10,2,...,NaN,NaN,NaN,NaN,406.748962,648.916626,506.914171,690.583293,0.0,2.0
34,34,35,28.320000,165.339996,65.975243,175.339996,uniglumis,2,11,0,...,NaN,NaN,NaN,NaN,117.999999,688.916651,274.896844,730.583318,0.0,2.0
35,35,36,69.329666,165.339996,89.819740,175.339996,(Sol.),2,11,1,...,NaN,NaN,NaN,NaN,288.873609,688.916651,374.248918,730.583318,0.0,2.0
36,36,37,93.595070,165.339996,127.190605,175.339996,Dumort.,2,11,2,...,NaN,NaN,NaN,NaN,389.979458,688.916651,529.960855,730.583318,0.0,2.0
37,37,59,221.279999,60.010010,273.777039,69.010010,Weingartneria,7,0,0,...,NaN,NaN,NaN,NaN,921.999995,250.041707,1140.737661,287.541707,1.0,3.0
38,38,60,221.039993,69.130005,247.279922,78.130005,Wolffia,7,1,0,...,NaN,NaN,NaN,NaN,920.999972,288.041687,1030.333010,325.541687,1.0,3.0
39,39,61,249.412064,69.130005,275.652039,78.130005,arrhiza,7,1,1,...,NaN,NaN,NaN,NaN,1039.216932,288.041687,1148.550161,325.541687,1.0,3.0
40,40,62,278.440338,69.130005,292.452698,78.130005,(L.),7,1,2,...,NaN,NaN,NaN,NaN,1160.168076,288.041687,1218.552907,325.541687,1.0,3.0
41,41,63,294.912750,69.130005,323.674316,78.130005,Wimm.,7,1,3,...,NaN,NaN,NaN,NaN,1228.803126,288.041687,1348.642985,325.541687,1.0,3.0
42,42,65,220.320007,97.659973,268.504486,107.659973,Zannichellia,9,0,0,...,NaN,NaN,NaN,NaN,918.000031,406.916555,1118.768692,448.583221,1.0,3.0
43,43,66,233.759995,108.219971,266.100891,118.219971,palustris,10,0,0,...,NaN,NaN,NaN,NaN,973.999977,450.916545,1108.753713,492.583211,1.0,4.0
44,44,67,269.266327,108.219971,277.663513,118.219971,L.,10,0,1,...,NaN,NaN,NaN,NaN,1121.943029,450.916545,1156.931305,492.583211,1.0,4.0
45,45,68,219.839996,117.609985,233.205002,126.609985,Zea,11,0,0,...,NaN,NaN,NaN,NaN,915.999985,490.041606,971.687508,527.541606,1.0,3.0
46,46,69,235.708710,117.609985,254.020187,126.609985,mays,11,0,1,...,NaN,NaN,NaN,NaN,982.119624,490.041606,1058.417447,527.541606,1.0,3.0
47,47,70,256.344299,117.609985,264.151398,126.609985,L.,11,0,2,...,NaN,NaN,NaN,NaN,1068.101247,490.041606,1100.630824,527.541606,1.0,3.0
48,48,71,219.600006,126.730011,248.103012,135.730011,Zebrina,11,1,0,...,NaN,NaN,NaN,NaN,915.000025,528.041712,1033.762550,565.541712,1.0,3.0
49,49,72,249.603302,126.730011,278.601318,135.730011,pendula,11,1,1,...,NaN,NaN,NaN,NaN,1040.013758,528.041712,1160.838826,565.541712,1.0,3.0
50,50,73,280.101318,126.730011,307.975494,135.730011,Schnizl,11,1,2,...,NaN,NaN,NaN,NaN,1167.088826,528.041712,1283.231227,565.541712,1.0,3.0
51,51,74,219.839996,136.329987,250.626724,145.329987,Zingeria,11,2,0,...,NaN,NaN,NaN,NaN,915.999985,568.041611,1044.278018,605.541611,1.0,3.0
52,52,75,252.363983,136.329987,307.967712,145.329987,biebersteiniana,11,2,1,...,NaN,NaN,NaN,NaN,1051.516596,568.041611,1283.198802,605.541611,1.0,3.0
53,53,76,309.705475,136.329987,336.658875,145.329987,(Claus),11,2,2,...,NaN,NaN,NaN,NaN,1290.439479,568.041611,1402.745310,605.541611,1.0,3.0
54,54,77,338.396088,136.329987,345.778076,145.329987,P.,11,2,3,...,NaN,NaN,NaN,NaN,1409.983699,568.041611,1440.741984,605.541611,1.0,3.0
55,55,78,347.515381,136.329987,379.768127,145.329987,Smirnov,11,2,4,...,NaN,NaN,NaN,NaN,1447.980754,568.041611,1582.367198,605.541611,1.0,3.0
56,56,79,220.559998,146.619995,249.132477,156.619995,Zostera,11,3,0,...,NaN,NaN,NaN,NaN,918.999990,610.916646,1038.051987,652.583313,1.0,3.0
57,57,80,233.759995,155.739990,252.702087,165.739990,nana,12,0,0,...,NaN,NaN,NaN,NaN,973.999977,648.916626,1052.925364,690.583293,1.0,4.0
58,58,81,256.044861,155.739990,275.339020,165.739990,Roth,12,0,1,...,NaN,NaN,NaN,NaN,1066.853587,648.916626,1147.245916,690.583293,1.0,4.0
59,59,82,220.800003,165.339996,290.078400,175.339996,ZOSTERACEAE,13,0,0,...,NaN,NaN,NaN,NaN,920.000013,688.916651,1208.659999,730.583318,1.0,3.0